* {
  background-color: rgb(41, 40, 40);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/*------------this is for index.html-------------*/
#header-img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#f1 {
  text-align: center;
  font-size: 60px;
  color: aliceblue;
}
#recipes {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
ul li img {
  width: 200px;
  height: 170px;
  margin-left: 30px;
  margin-right: 30px;
}
ul li a {
  text-decoration: none;
  text-align: center;
  color: white;
}
/*------------this is for index.html-------------*/

/* ---------------------------- this is for Sweet resturant slaw.html ------------ */
#srs {
  background-color: rgb(41, 40, 40);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.srs-h1 {
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  margin-bottom: 10px;
}
.srs-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.srs-h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}
.srs-ul {
  text-align: center;
}
.srs-h2-p {
  text-align: center;
}
ol li {
  text-align: center;
  list-style: circle;
}

/* ---------------------------- this is for Sweet resturant slaw.html ------------ */